.purple-graident {
  background: #512da8;
  background: linear-gradient(135deg, #512da8 0%, #673ab7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#512da8", endColorstr="#673ab7", GradientType=1);
}

