.purple-graident {
  background: #512da8;
  background: linear-gradient(135deg, #512da8 0%, #673ab7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#512da8", endColorstr="#673ab7", GradientType=1);
}

a.nav-link:hover {
  background: #eee;
}

a.no-link-hover:hover {
  background: transparent;
}

.getting-started-ul {
  margin: 0;
  padding: 0;
}

.getting-started-ul li {
  list-style: none;
  padding-bottom: 10px;
}

